<div class="carousel-item">
  <div class="card">
    <div class="card-image">
      <img src="/images/{{category}}.png">
    </div>
    <div class="card-content">
      <ul class="">
        {{#if date}}
        <li class=""><strong>Date: </strong>{{date}}</li>
        <hr>
        {{/if}}
        {{#if time}}
        <li class=""><strong>Time: </strong>{{time}}</li>
        <hr>
        {{/if}}
        {{#if distance}}
        <li class=""><strong>Distance: </strong>{{distance}} miles</li>
        <hr>
        {{/if}}
        {{#if workout_length}}
        <li class=""><strong>Workout Length: </strong>{{workout_length}}</li>
        <hr>
        {{/if}}
        {{#if pace}}
        <li class=""><strong>Pace: </strong>{{pace}}</li>
        <hr>
        {{/if}}
        {{#if RPE}}
        <li class=""><strong>RPE: </strong>{{RPE}}</li>
        <hr>
        {{/if}}
        {{#if stress_score}}
        <li class=""><strong>Stress: </strong>{{stress_score}}</li>
        <hr>
        {{/if}}
        {{#if has_heartrate}}
        <li class=""><strong>Heart Rate: </strong>{{heart_rate}} BPM</li>
        <hr>
        {{/if}}
      </ul>
    </div>
  </div>
</div>