<div class="carousel-item" style="width: 24vw">
  <div class="card">
    <div class="card-image">
      <img src="/images/{{category}}.png">
    </div>
    <div class="card-content">
      <ul class="">
        {{#if date}}
        <li><strong>Date: </strong><span class="workout-data">{{date}}</span></li>
        <hr>
        {{/if}}
        {{#if time}}
        <li><strong>Time: </strong><span class="workout-data">{{time}}</span></li>
        <hr>
        {{/if}}
        {{#if distance}}
        <li><strong>Distance: </strong><span class="workout-data">{{distance}} miles</span></li>
        <hr>
        {{/if}}
        {{#if workout_length}}
        <li><strong>Workout Length: </strong><span class="workout-data">{{workout_length}}</span></li>
        <hr>
        {{/if}}
        {{#if pace}}
        <li><strong>Pace: </strong><span class="workout-data">{{pace}}</span></li>
        <hr>
        {{/if}}
        {{#if RPE}}
        <li><strong>RPE: </strong><span class="workout-data">{{RPE}}</span></li>
        <hr>
        {{/if}}
        {{#if stress_score}}
        <li><strong>Stress: </strong><span class="workout-data">{{stress_score}}</span></li>
        <hr>
        {{/if}}
        <li>
          <button class='btn waves-effect waves-ligh' data-id= '{{id}}' >Delete</button>
        </li>
      </ul>


    </div>
  </div>
</div>